[gpg]
		program = gpg2
[commit]
		gpgsign = true
[core]
		editor = vim
		fsmonitor = true
[init]
		defaultBranch = main
[tag]
		sort = version:refname
[diff]
		algorithm = histogram
[push]
		autoSetupRemote = true
		followTags = true
[fetch]
		prune = true
		pruneTags = true
		all = true
